# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignorar banco de dados local da IA (Privacidade)
*.db
*.sqlite
memoria.db
# Pastas do IntelliJ e Maven
.idea/
target/
*.class